@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 222.2 84% 4.9%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 0 0% 98%;
  }
}

body {
  @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  font-feature-settings: "cv11", "ss01";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  @apply bg-slate-100 px-1 py-0.5 rounded;
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  @apply bg-slate-800 text-slate-50 p-4 rounded-xl overflow-x-auto;
}